<div class="flex flex-col items-center w-full h-full">
  <div class="container py-2">
    <button
      onclick="window.history.back()"
      class="flex flex-row items-center font-bold hover:text-gray-700 transform hover:scale-110 justify-centertext-2xl space-x-2"
    >
      <font-awesome-icon :icon="['fas', 'caret-left']"></font-awesome-icon>
      <span>Volver</span>
    </button>
    <div class="flex flex-col items-center">
      <course-lecture
        :lecture="<%= LectureSerializer.new(@lecture).to_json  %> | camelizeKeys"
      >
      </course-lecture>  
    </div>
  </div>
</div>
