<nav class="bg-red-500">
    <div class="flex flex-row items-center justify-between w-full p-5">
  <div class="flex items-center flex-shrink-0 h-full mr-6 text-white">
    <%= link_to 'Hobbies App', root_url, class:"font-semibold text-xl tracking-tight" %>
  </div>
  <a href="https://github.com/IIC2143-2021-2/grupo-32">
  <img src="https://cdn-icons-png.flaticon.com/512/733/733609.png" width="30" height="30">
  </a>
  <span class='text-white'>
   IIC2143 - Ingeniería de Software
 </span>

  </div>

    <div class="pt-4 md:flex md:items-center md:justify-center">
    <span class="text-white">
        Made with ❤️ by Grupo 32
    </span>
    </div>
</nav>