<nav class="flex flex-row items-center justify-between w-full p-5 bg-red-500">
  <div class="flex items-center flex-shrink-0 h-full mr-6 text-white">
    <%= link_to 'Hobbies App', root_path, class:"font-semibold text-xl tracking-tight"%>
  </div>
  <div class="flex flex-row items-center h-full space-x-1">
    <%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete, class:"inline-block text-sm px-4 py-2 leading-none text-white hover:text-red-200"%>
    <%= link_to 'Mi Perfil', user_path(current_user), class:"inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-red-200"%>
    <button class="flex items-center px-3 py-2 text-teal-200 border border-teal-400 rounded hover:text-white hover:border-white">
      <svg class="w-3 h-3 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
    </button>
  </div>
</nav>
