<nav class="flex flex-row items-center justify-between w-full p-5 bg-red-500 opacity-70">
  <div class="flex items-center flex-shrink-0 h-full mr-6 text-white">
    <%= link_to 'Hobbies App', root_path, class:"font-semibold text-xl tracking-tight" %>
  </div>
  <a href="<%= profile_users_path %>" class="flex flex-row items-center h-full text-sm cursor-pointer space-x-2 space-x-1 hover:opacity-75">
    <font-awesome-icon class="text-xl text-white" :icon="['fa', 'user']"></font-awesome-icon>
    <span class="text-white">Mi perfil</span>
  </a>
</nav>
