<nav class="flex flex-row items-center justify-between w-full p-5 bg-red-500 opacity-70">
  <div class="flex items-center text-white">
    <%= link_to 'Hobbies App', root_path, class:"font-semibold text-xl tracking-tight"%>
  </div>
  <div class="flex flex-row items-center py-2 text-sm space-x-4">
    <%= link_to 'Iniciar Sesión', new_user_session_url, class:"text-white hover:opacity-75"%>
    <%= link_to 'Registrarse', new_user_registration_url, class:"secondary-btn"%>
  </div>
</nav>
