<div class="flex flex-col items-center justify-center w-full h-full space-y-12">
  <span class="text-lg">Grupo 32</span>
  <span class="text-3xl">Hello world desde rails</span>
  <hello-world />
</div>
