<div class="flex items-center justify-center w-full h-full bg-gray-50">
  <div class="container md:max-w-2xl">
    <course-create-form :categories="<%= CATEGORIES.to_json %>"></course-create-form>
  </div>
</div>
